@charset "utf-8";

/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2009, 2010 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/* CSS Document */
@import url("common1_2.css");

a, fieldset, form, h1, h2, h3, h4, h5, h6, p, li, ol, ul, body, html, tr, td, img, #copyright, #footer p, .required-field-text  {
   font-family: MingLiu,Verdana, Arial, Verdana, Helvetica, sans-serif;
   font-size:11px;
}

body {
   font-family: MingLiu,Verdana;
}

.sidebar_header_link {
	font-size:13px;
}
.font3 {
   font-size:11px;
   font-family:MingLiu,arial, helvetica, sans-serif;
}
#shopping-cart .body {
	margin-top:-22px;
}
#shopping-cart .text {
	font-family:MingLiu,arial, helvetica, sans-serif; /*fix Japanese Yen*/
	font-size:11px;
}
#shoppingCart_tableCell_each, #shoppingCart_tableCell_total,
#SingleShipment_tableCell_unitPrice, #SingleShipment_tableCell_totalPrice {
	font-family:MingLiu,verdana !important;
}

#recommend {
   font-family: MingLiu,Verdana;
}
#recommend .price .price { /*fix Japanese Yen */
	font-family: MingLiu,arial, helvetica, sans-serif;
}
#wishlist{
   font-family: MingLiu,Verdana;
   font-size:11px;
}
input, select, textarea, .card_info a, .card_info .col1, a.button, a.button_footer   {
   font-family: MingLiu,Verdana;
}
.form_2column .column {
   width:325px;
}
span.primary_button , span.secondary_button{
	font-family: MingLiu,Verdana;
	font-size: 11px;
}

.wishlist_button_drop {
	height: 17px;
}

#four-grid .item .information h3,#four-grid-wishlist .item .information h3,#four-grid-espot .item .information h3 {
	font-size: 11px;
}
#four-grid .item .price,#four-grid-wishlist .item .price,#four-grid-espot .item .price{
   font-family:arial, helvetica, MingLiu,sans-serif; /*fix Japanese Yen*/
}
#four-grid .item .list_view_price,#four-grid-wishlist .item .list_view_price,#four-grid-espot .item .list_view_price{
	font-family:arial, helvetica, MingLiu,sans-serif; /*fix Japanese Yen*/
}
.listPrice {
    /*fix Japense YEN */
	font-family: arial, helvetica,MingLiu, sans-serif;
}
.scrollPanePrice{
    font-size:12px;
	font-family: arial, helvetica, MingLiu,sans-serif;	
}
#horizontal_grid tr.item_container td.information {
	width: 230px;
}
#horizontal_grid tr.item_container td.information p {
	width: 230px;
}
#horizontal_grid tr.item_container td.information h3 {
	font-size: 11px;
	width: 230px;
}
#horizontal_grid tr.item_container td.price span.price{
	font-family:arial, helvetica, MingLiu,sans-serif; /*fix Japanese Yen*/
}
#order_details .total {
   font-family:arial,helvetica,MingLiu,sans-serif;
}
#order_details .align_right, .each, .total {
   font-family:arial,helvetica,MingLiu,sans-serif;/*Fix Japanese Yen */
}
#total_breakdown #order_total .total_figures, #total_breakdown .figures p.price {
	font-family:arial,helvetica,MingLiu,sans-serif;/*Fix Japanese Yen */
    font-size:10.5px;
}
#shipping .shipping_method .checkbox .text {
   font-family: MingLiu,Verdana;
   font-size:11px;
}
#billing p.price, .billing p.price {
	font-family: arial, helvetica, MingLiu,sans-serif; /*fix japanese yen */
}
#product span.grey {
   font-family: arial, helvetica, MingLiu,sans-serif; /* fix Japanese yen */
}
.tabs .on .text {
	margin-left:-7px;
	margin-right:-7px;
}
.tabs .off .text {
	margin-left:-7px;
	margin-right:-7px;
}
#quick_cart .container .list .price{
	font-family: arial, helvetica,MingLiu, sans-serif; /*fix japanese yen */
}
#quick_order {
	font-size:11px;
}
#quick_order .input_form {
    width:270px;
}
#quick_order .input_form .QTY {
	width:30px;
}
body .rangeSelectorTooltip{ position: absolute; border-color: white; padding: 1px 0px 1px 0px; font-size: 11px; z-index: 30;}
#second_level_category_popup .bodycontent h1 ,#requisition_list_popup .bodycontent h1,
#second_level_category_popup .bodycontent .purchase_details .purchase_quanitity .quantity, 
#second_level_category_popup .bodycontent .product_details .product_information select  {
	font-size: 11px;
}

.tooltip_popup_price{
	font-family:arial,helvetica,MingLiu,sans-serif;
}
.ranking_list_table .ul .rank_catEntry_description {
	width:57%;
}
html:not([lang*=""]) .ranking_list_table .ul .rank_catEntry_description {
	width: 52%;
}
body:first-of-type .ranking_list_table .ul .rank_catEntry_description{
	width: 49%;
}

.feed_widget_label,.feed_widget_label_invert {
	display: inline;
}